$mainTextColor: rgb(0, 150, 136);
$accentTextColor: rgb(131, 185, 185);
$paleTextColor: rgb(120, 120, 120);
$cardTitleBackgroundColor: rgb(240, 240, 240);
$redPastel: rgba(255, 36, 0, 0.15);
$greenPastel: rgba(119, 221, 119, 0.15);
$greyPastel: rgba(183, 183, 183, 0.15);
$yellow: rgba(255, 165, 0, 0.8);
$yellowPastel: rgba(238, 255, 0, 0.15);
$red: rgba(255, 36, 0, 0.8);
$green: rgba(0, 128, 0, 0.55);
$grey: grey;


.card_column{
  width: calc(100% / 4 - 10px);
}

@media (max-width: 1200px) {
  .card_column{
    width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 910px) {
  .card_column{
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 768px) {
  .card_column{
    width: 100%;
  }
}