.grid_card_type{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  &_header{
    display: flex;
    flex-direction: column;
    &_row{
      display: flex;
      align-items: center;
      margin: 5px 0;
    }
    h2{
      width: 140px;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1;
      color: $paleTextColor;
    }
    &_text{
      min-width: 130px;
      max-width: 300px;
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      font-size: 16px;
      color: $mainTextColor;
      background-color: $cardTitleBackgroundColor;
      text-align: center;
    }
  }
}
.grid_card_wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid_card_title{
  display: flex;
  align-items: center;
  font-size: 16px;
  &_item{
    margin-right: 20px;
  }
}
.grid_card_title_status{
  color: white;
  display: flex;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(0,0,0,.1);
  &_svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    &_container{
      position: relative;
      border-radius: 5px;
      border: 1px solid white;
      margin-right: 5px;
      padding: 4px;
      width: 15px;
      height: 20px;
    }
  }
  &_orange{
    background-color: $yellow;
  }
  &_green{
    background-color: $green;
  }
  &_red{
    background-color: $red;
  }
  &_grey{
    background-color: $grey;
  }
}
.grid_card_title_button{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  background-color: inherit;
  border: 1px solid rgba(0,0,0,.1);
  color: #000;
  margin-right: 10px;
  position: relative;
  border-radius: 5px;
  min-width: 70px;
  height: 40px;
  cursor: pointer;
  i{
    position: absolute;
    top: 8px;
    left: -1px;
  }
  &:hover{
    color: white;
    background: #e0e0e0;
  }
}